@using BD.Jcbg.Common;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link href="@SkinManager.GetCssPath("users.css")" rel="stylesheet" type="text/css" />
    <link href="@SkinManager.GetEasyuiPath("/themes/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@SkinManager.GetEasyuiPath("/themes/default/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@SkinManager.GetCssPath("jquery.loadmask.css")" rel="stylesheet" type="text/css" />
    <link href="@SkinManager.GetLayuiPath("css/layui.css")" rel="stylesheet" type="text/css" />

    <script src="@SkinManager.GetJsPath("jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@SkinManager.GetJsPath("jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@SkinManager.GetJsPath("easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@SkinManager.GetJsPath("jquery.loadmask.min.js")" type="text/javascript"></script>
    <script src="@SkinManager.GetMy97JsPath("WdatePicker.js")" type="text/javascript"></script>
    <script src=@SkinManager.GetBootstrapPath("/PlugIns/Layer/layer.js") type="text/javascript" charset="utf-8"></script>
    <script src=@SkinManager.GetLayuiPath("layui.all.js") type="text/javascript" charset="utf-8"></script>
    <title>摄像头拍照</title>
</head>
<body>
 
    <div style="text-align:center">
    <video id="video" width="480" height="320" autoplay style="background:#ddd"></video>
    <p>
    <button id="capture">拍照</button>
    </p>
    <canvas id="canvas" width="480" height="320"></canvas>
    </div>

    <script>

        var video = document.querySelector('video');
        var constraints = {
            audio: false,
            video: true
        };
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        function successCallback(stream) {
            window.stream = stream;
            if (window.URL) {
                video.src = window.URL.createObjectURL(stream);
            } else {
                video.src = stream;
            }
        }

        function errorCallback(error) {
            console.log('navigator.getUserMedia error: ', error);
        }

        navigator.getUserMedia(constraints, successCallback, errorCallback);
        document.getElementById('capture').addEventListener('click', function () {        
            context.drawImage(video, 0, 0, 480, 320); //显示拍照的图片

            //转换为base64格式
            var base64 = canvas.toDataURL('image/jpeg');
            alert(base64);
        })
    </script>
</body>

</html>