@using BD.DataInputCommon;
<!DOCTYPE html>
<html>
<head>
    <!-- 只限二层结构 -->
    <title>数据录入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="@Skins.GetPubPath("My97DatePicker/WdatePicker.js")"></script>
    <link href="@Skins.GetPubPath("hplus/css/bootstrap.min.css?v=3.3.5")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("hplus/css/font-awesome.min.css?v=4.4.0")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("hplus/css/animate.min.css")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("hplus/css/style.min.css?v=4.0.0")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("hplus/css/plugins/chosen/chosen.css")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" rel="stylesheet" type="text/css"/>
    <!-- 下拉过滤控件 -->
    <link href="@Skins.GetPubPath("bootstrap/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet"/>
    <!-- 下拉多选过滤控件2 -->
    <link href="@Skins.GetPubPath("bootstrap/plugins/bootstrap-select2/css/bootstrap-select.min.css")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("layer/skin/layer.css")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("uploadify/uploadify.css")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("H5uploadify/Huploadify.css")" rel="stylesheet"/>

    <link href="@Skins.GetCssPath("datainput.css?v=20170321402")" rel="stylesheet"/>
    <link href="@Skins.GetCssPath("stj.css?v=2016031503")" rel="stylesheet"/>
    <link href="@Skins.GetPubPath("viewer/dist/viewer.min.css")" rel="stylesheet"/>
	<link href="@Skins.GetCssPath("jhfDouble.css")" rel="stylesheet" />
		
		       

	
    <script language="javascript" type="text/javascript" for="irisreader" event="BioIDEnrollBothIrisBEvent(irisleft,irisright,imgleft,imgright,EnrollResult)">

    if (EnrollResult == 1) {
        g_irisreader.setIrisInfo(irisleft + irisright);
    }
    else if (EnrollResult = 0) {
        alert("超时失败");
    }
    else if (EnrollResult = -1) {
        alert("注册失败");
    }
    </script>
</head>
<body class="gray-bg" style="font-size:13px;">
    <div  class="wrapper wrapper-content animated fadeInRight">
	<div id="top" class="top-nav">
            <div class="active" value="baseInfo"><span style="position: relative;">基本信息<i></i></span></div>
        </div>
		
        <form id="form1" name="form1" style="padding: 50px 10px 0 0" action="" enctype="multipart/form-data">
            <input type="hidden" id="param" name="param" value="@ViewData["param"]" />
            <input type="hidden" id="ignoreNumberField" name="ignoreNumberField" value="" />
            <input type="hidden" id="btnContent" name="btnContent" />
            <div id="contentDiv"></div>
            <br /><br />
        </form>

        <script type="text/javascript" src="@Skins.GetPubPath("hplus/js/jquery.min.js?v=2.1.4")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("layer/layer.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("hplus/js/bootstrap.min.js?v=3.3.5")"></script>
        <!-- 多选下拉框 -->
        <script type="text/javascript" src="@Skins.GetPubPath("hplus/js/plugins/chosen/chosen.jquery.js")"></script>
        <!-- 多选下拉框过滤 -->
        <script type="text/javascript" src="@Skins.GetPubPath("bootstrap/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js")"></script>
         <!-- 下拉多选过滤控件2 -->
        <script type="text/javascript" src="@Skins.GetPubPath("bootstrap/plugins/bootstrap-select2/js/bootstrap-select.min.js")"></script>
        <script type="text/javascript" src="@Skins.GetJsPath("common.js?v=2016040502")"></script>
        <script type="text/javascript" src="@Skins.GetJsPath("base64.js")"></script>
        <script type="text/javascript" src="@Skins.GetJsPath("myControlDouble.js?v=2017010506")"></script>
        <script type="text/javascript" src="@Skins.GetJsPath("myContent.js?v=2017010604")"></script>
        <script type="text/javascript" src="@Skins.GetJsPath("mybootstrap.js?v=2016012602")"></script>

        <script type="text/javascript" src="@Skins.GetPubPath("uploadify/jquery.uploadify.min.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("H5uploadify/jquery.Huploadify.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("lazyload/jquery.lazyload.min.js")"></script>
        @Html.Raw(ViewData["js"].ToString())
        <script type="text/javascript" src="@Skins.GetPubPath("viewer/dist/viewer.min.js")"></script>
        <script type="text/javascript" language="javascript">
            //测试数据
            function testData() {
                //遮罩
                layer.load();
                var data = '{    "success":true,"msg":"","data":   {       "t1visible":true, "t1title":"企业账号创建设置", "t1table":"H_QYLX",       "t1hidden":       [       ],       "t1copyhidden":       [       ],       "t1triggerfield":       [       ],       "t1field":       [       {     "fieldname":"H_QYLX.LXMC",     "sy":"类型名称",     "kjlx":"",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":true,     "ctrlstring":"",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.SFCJZH",     "sy":"是否创建账号",     "kjlx":"RADIO",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":true,     "ctrlstring":"value--是,1,1|否,0,0",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.ZHDWBH",     "sy":"账号单位",     "kjlx":"SELECT",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":false,     "ctrlstring":"value--,,1|温岭建设局,CP201606000001,0",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.ZHBMBH",     "sy":"账号部门",     "kjlx":"SELECT",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":false,     "ctrlstring":"value--,,1|管理科,DP201606000001,0|企业,DP201606000002,0|人员,DP201606000003,0",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.ZHJSBH",     "sy":"账号角色",     "kjlx":"SELECT",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":false,     "ctrlstring":"value--,,1|系统维护,CR201606000001,0|施工单位,CR201606000002,0|监理单位,CR201606000003,0|建设单位,CR201606000004,0|检测机构,CR201606000005,0|见证人员,CR201606000006,0|送样人员,CR201606000007,0|监理人员,CR201606000008,0|施工人员,CR201606000009,0",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.GWBH",     "sy":"岗位编号",     "kjlx":"",     "inputlx":"",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":false,     "ctrlstring":"",     "helplink":"",     "validproc":"",     "msginfo":""       },       {     "fieldname":"H_QYLX.XSSX",     "sy":"显示顺序",     "kjlx":"",     "inputlx":"NUMBER",     "defval":"",     "xscd":0,     "sfgd":false,     "zdsx":false,     "mustin":true,     "ctrlstring":"",     "helplink":"",     "validproc":"",     "msginfo":""       }       ],"rownum":2,"bottomdiv":true,"custombutton":[],"btndata":[       {     "name":"btn_tj",     "event":"btn_opt_tj",     "url":" ",     "css":"",     "title":"提交"       }],"jumpdata":[],"datacheck":false   }}';
                //var data = '{    "success":true,"msg":"","data":   {       "t1visible":true,       "t1field":       [       {     "fieldname":"MBGTEST_A__JYDBH",     "sy":"接样单编号",     "kjlx":"TEXT",     "inputzdlx":"C",     "mustin":"True"       },       {     "fieldname":"MBGTEST_A__LXDH1",     "sy":"联系电话1",     "kjlx":"TEXT",     "inputzdlx":"C",     "mustin":"True"       },       {     "fieldname":"MBGTEST_A__LXDH",     "sy":"联系电话",     "kjlx":"RADIO",     "inputzdlx":"C",     "mustin":"True"       }       ],       "t2fields":       [       {     "t2visible":true,     "t2table":"SBGTEST1_A",     "t2sy":"新建从表A",           "t2field":           [           {         "fieldname":"SBGTEST1_A__JYDBH",         "sy":"接样单编号S1_A",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__DZBH",         "sy":"单组编号S1_B",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__JYDBH",         "sy":"接样单编号S1_B",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_A__DZBH",         "sy":"单组编号S1_A",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_A__GDNR",         "sy":"固定内容S1_A",         "kjlx":"U",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__BDNR",         "sy":"变动内容S1_B",         "kjlx":"T",         "inputzdlx":"C",         "mustin":"False"           }           ],       "t3visible":true, "t3table":"SK1", "t3sy":"明细A",       "t3field":       [           {         "fieldname":"SK1__MXBH",         "sy":"明细编号SK1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK1__JYDBH",         "sy":"接样单编号SK1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK2__JYDBH",         "sy":"接样单编号SK2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK2__DZBH",         "sy":"单组编号SK2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK1__DZBH",         "sy":"单组编号SK1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK2__MXBH",         "sy":"明细编号SK2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK2__XH",         "sy":"型号SK2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SK1__MXNR",         "sy":"明细内容SK1",         "kjlx":"C",         "inputzdlx":"C",         "mustin":"False"           }       ]           },       {     "t2visible":true,     "t2table":"SBGTEST2_A",     "t2sy":"新建从表B",           "t2field":           [           {         "fieldname":"SBGTEST2_A__JYDBH",         "sy":"接样单编号S2_A",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST2_B__DZBH",         "sy":"单组编号S2_B",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST2_B__JYDBH",         "sy":"接样单编号S2_B",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST2_A__DZBH",         "sy":"单组编号S2_A",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST2_A__CSNR",         "sy":"测试内容S2_A",         "kjlx":"R",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"SBGTEST2_B__XXNR",         "sy":"信息内容S2_B",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           }           ],       "t3visible":true, "t3table":"TT1", "t3sy":"明细B",       "t3field":       [           {         "fieldname":"TT1__RECID",         "sy":"记录识别号TT1",         "kjlx":"",         "inputzdlx":"I",         "mustin":"False"           },           {         "fieldname":"TT1__JYDBH",         "sy":"接样单编号TT1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT1__DZBH",         "sy":"单组编号TT1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT1__MXBH",         "sy":"明细编号TT1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT1__DZ",         "sy":"地址TT1",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT2__RECID",         "sy":"记录识别号TT2",         "kjlx":"",         "inputzdlx":"I",         "mustin":"False"           },           {         "fieldname":"TT2__JYDBH",         "sy":"接样单编号TT2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT2__DZBH",         "sy":"单组编号TT2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT2__MXBH",         "sy":"明细编号TT2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           },           {         "fieldname":"TT2__MC",         "sy":"名称TT2",         "kjlx":"",         "inputzdlx":"C",         "mustin":"False"           }       ]           }       ]   }}';
                //var data = '{    "success":true,"msg":"","data":   {       "t1visible":true,       "t1field":       [       {     "fieldname":"MBGTEST_A__JYDBH",     "sy":"接样单编号",     "kjlx":"TEXT",     "inputzdlx":"C",     "defval":"bb",     "mustin":"True"       },       {     "fieldname":"MBGTEST_A__LXDH1",     "sy":"联系电话1",     "kjlx":"TEXT",     "inputzdlx":"C",     "defval":"",     "mustin":"True"       },       {     "fieldname":"MBGTEST_B__JYDBH",     "sy":"接样单编号",     "kjlx":"",     "inputzdlx":"C",     "defval":"",     "mustin":"True"       },       {     "fieldname":"MBGTEST_B__SZCS",     "sy":"所在城市",     "kjlx":"S",     "inputzdlx":"C",     "defval":"",     "mustin":"False"       },       {     "fieldname":"MBGTEST_B__ZT",     "sy":"状态",     "kjlx":"TEXT",     "inputzdlx":"C",     "defval":"",     "mustin":"False"       },       {     "fieldname":"MBGTEST_A__LXDH",     "sy":"联系电话",     "kjlx":"RADIO",     "inputzdlx":"C",     "defval":"",     "mustin":"True"       },       {     "fieldname":"MBGTEST_B__LXR",     "sy":"联系人",     "kjlx":"S",     "inputzdlx":"C",     "defval":"",     "mustin":"False"       },       {     "fieldname":"MBGTEST_B__SZSF",     "sy":"所在省份",     "kjlx":"SELECT",     "inputzdlx":"C",     "defval":"",     "mustin":"False"       }       ],       "t2fields":       [       {     "t2visible":true,     "t2table":"SBGTEST1_A",     "t2sy":"新建从表A",           "t2field":           [           {         "fieldname":"SBGTEST1_A__JYDBH",         "sy":"接样单编号S1_A",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__DZBH",         "sy":"单组编号S1_B",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__JYDBH",         "sy":"接样单编号S1_B",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_A__DZBH",         "sy":"单组编号S1_A",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_A__GDNR",         "sy":"固定内容S1_A",         "kjlx":"U",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SBGTEST1_B__BDNR",         "sy":"变动内容S1_B",         "kjlx":"T",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           }           ],       "t3visible":true, "t3table":"SK1", "t3sy":"明细A",       "t3field":       [           {         "fieldname":"SK1__MXBH",         "sy":"明细编号SK1",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK1__JYDBH",         "sy":"接样单编号SK1",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK2__JYDBH",         "sy":"接样单编号SK2",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK2__DZBH",         "sy":"单组编号SK2",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK1__DZBH",         "sy":"单组编号SK1",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK2__MXBH",         "sy":"明细编号SK2",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK2__XH",         "sy":"型号SK2",         "kjlx":"",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           },           {         "fieldname":"SK1__MXNR",         "sy":"明细内容SK1",         "kjlx":"C",         "inputzdlx":"C",         "defval":"",         "mustin":"False"           }       ]           }       ]   }}';
                var val = eval("(" + data + ")"); //转换为json对象 
                if (!val.success) {
                    alert(val.msg);
                    return;
                }
                //定义每行几列
                if (val.data.rownum > 0)
                    conditionNum = val.data.rownum;
                //是否显示底部栏
                if (val.data.bottomdiv)
                    document.getElementById("div_bottom").style.display = 'block';
                //跳转
                if (val.data.jumpdata.length > 0) {
                    document.getElementById("div_jump").style.display = 'block';
                }
                //循环加载标题
                $(val.data.jumpdata).each(function (index) {
                    $("#jumpCtrl").append("<option value='" + val.data.jumpdata[index].jump + "'>" + val.data.jumpdata[index].title + "</option>");
                });
                //按钮
                $(val.data.btndata).each(function (index) {
                    //$("#btnDiv").append("<input type='button' class='btn btn-primary btn-sm'   name='" + val.data.btndata[index].name + "' value='" + val.data.btndata[index].title + "' onclick='" + val.data.btndata[index].event + "(\"" + val.data.btndata[index].url + "\");' />");
                    $("#btnDiv").append("<button class=\"btn btn-primary stj_ti\" type=\"button\"    name='" + val.data.btndata[index].name + "' value='" + val.data.btndata[index].title + "' onclick='" + val.data.btndata[index].event + "(\"" + val.data.btndata[index].url + "\");' ><i class=\"" + val.data.btndata[index].css + "\" ></i>" + val.data.btndata[index].title + "</button>");
                });
                //自定义按钮
                $(val.data.custombutton).each(function (index) {
                    //$("#btnDiv").append("<input type='button' class='btn btn-primary btn-sm'   name='" + val.data.custombutton[index].name + "' value='" + val.data.custombutton[index].title + "' onclick=\"" + ParamRep(val.data.custombutton[index].event) + "\" />");
                    $("#btnDiv").append("<button class=\"btn btn-primary stj_ti\" type=\"button\"    name='" + val.data.custombutton[index].name + "' value='" + val.data.custombutton[index].title + "' onclick='" + ParamRep(val.data.custombutton[index].event) + "\" ><i class=\"" + val.data.custombutton[index].css + "\" ></i>" + val.data.custombutton[index].title + "</button>");
                });
                //判断是否要显示主表
                var t1fieldcontent = "";
                if (val.data.t1visible) {
                    //添加锚点
                    t1fieldcontent += "<a id=\"" + val.data.t1table + "Anchor\" name=\"" + val.data.t1table + "Anchor\"></a>";
                    t1fieldcontent += CreateField(val.data.t1table, val.data.t1hidden, val.data.t1copyhidden, val.data.t1field, "", "");
                }
                //替换数据属性
                var t1dataField = new RegExp("&&datain&&", "g");
                t1fieldcontent = t1fieldcontent.replace(t1dataField, "datain");
                $("#contentDiv").append(t1fieldcontent);
                //判断是否要显示从表
                $(val.data.t2fields).each(function (index) {
                    //判断是否有从表t2
                    if (val.data.t2fields[index].t2visible) {
                        //获取字段列
                        fieldArray[val.data.t2fields[index].t2table] = JSON.stringify(val.data.t2fields[index].t2field);
                        //添加从表隐藏层
                        $("#hiddenDiv").append(CreateDiv(val.data.t2fields[index].t2table, val.data.t2fields[index].t2hidden, val.data.t2fields[index].t2copyhidden, val.data.t2fields[index].t2field, "_", "&&record&&"));
                        //添加从表隐藏层JS
                        $("#hiddenJsDiv").append(CreateJs(val.data.t2fields[index].t2table, val.data.t2fields[index].t2triggerfield, val.data.t2fields[index].t2field, "_"));
                        //显示内容
                        $("#contentDiv").append(GetT2Tab(val.data.t2fields[index].t2table, val.data.t2fields[index].t2sy, val.data.t2fields[index].t3visible, val.data.t2fields[index].t3table, val.data.t2fields[index].t3sy));
                    }
                    //判断是否有明细表
                    if (val.data.t2fields[index].t3visible) {
                        //获取字段列
                        fieldArray[val.data.t2fields[index].t2table + "_" + val.data.t2fields[index].t3table] = JSON.stringify(val.data.t2fields[index].t3field);
                        //添加明细表隐藏层
                        $("#hiddenDiv").append(CreateDiv(val.data.t2fields[index].t3table, val.data.t2fields[index].t3hidden, val.data.t2fields[index].t3copyhidden, val.data.t2fields[index].t3field, "_", "&&record&&"));
                        //添加明细表隐藏层JS
                        $("#hiddenJsDiv").append(CreateJs(val.data.t2fields[index].t3table, val.data.t2fields[index].t3triggerfield, val.data.t2fields[index].t3field, "_"));
                    }
                });

                //**** 触发按钮事件 ****
                //**** 主表触发 ****
                $(val.data.t1triggerfield).each(function (index) {
                    //按顺序触发改变值
                    InitCtrlEvent(val.data.t1triggerfield[index].fieldname);
                });
                //**** 主表还原默认值 ****
                $(val.data.t1field).each(function (index) {
                    //初始化特殊控件
                    InitSpecialCtrl(val.data.t1field[index].fieldname);
                    //还原默认值
                    RecoveryDefValue(val.data.t1field[index].fieldname);
                    //触发改变事件
                    InitCtrlEvent(val.data.t1field[index].fieldname);
                });



                //判断是否是修改信息
                if (val.data.datacheck) {
                    //赋值主表数据
                    $(val.data.t1datas.t1data).each(function (index) {
                        SetCtrlValue(val.data.t1datas.t1data[index].zdmc, val.data.t1datas.t1data[index].zdval);
                        //触发改变事件
                        InitCtrlEvent(val.data.t1datas.t1data[index].zdmc);
                    });
                    //赋值从表数据
                    $(val.data.t2datas).each(function (index) {
                        //************** 从表 *************
                        //触发新建按钮
                        $("#" + val.data.t2datas[index].t2table + "AddBtn").click();
                        //获取从表当前记录
                        var t2Rec = parseInt($("#" + val.data.t2datas[index].t2table + "Record").val());
                        //设置此记录主键
                        $("#" + val.data.t2datas[index].t2table + "PRIDATA_" + t2Rec).val(val.data.t2datas[index].t2pri);
                        //赋值从表记录每个字段
                        $(val.data.t2datas[index].t2data).each(function (zdzdIndex) {
                            SetCtrlValue(val.data.t2datas[index].t2data[zdzdIndex].zdmc + "_" + t2Rec, val.data.t2datas[index].t2data[zdzdIndex].zdval);
                            //触发改变事件
                            InitCtrlEvent(val.data.t2datas[index].t2data[zdzdIndex].zdmc + "_" + t2Rec);
                        });
                        //************** 从表 *************

                        //************** 明细表 *************
                        $(val.data.t2datas[index].t3datas).each(function (t3index) {
                            //触发新建按钮
                            $("#" + val.data.t2datas[index].t3datas[t3index].t3table + "_" + (t2Rec) + "btn").click();
                            //获取明细表当前记录
                            var t3Rec = parseInt($("#" + val.data.t2datas[index].t2table + "_" + t2Rec + "Record").val());
                            //设置此记录主键
                            $("#" + val.data.t2datas[index].t3datas[t3index].t3table + "PRIDATA_" + t2Rec + "_" + t3Rec).val(val.data.t2datas[index].t3datas[t3index].t3pri);
                            //赋值从表记录每个字段
                            $(val.data.t2datas[index].t3datas[t3index].t3data).each(function (zdzdt3Index) {
                                SetCtrlValue(val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdmc + "_" + t2Rec + "_" + t3Rec, val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdval);
                                //触发改变事件
                                InitCtrlEvent(val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdmc + "_" + t2Rec + "_" + t3Rec);
                            });
                        });
                        //************** 明细表 *************

                        //切换首Tab
                        FirstT2Page(val.data.t2datas[index].t2table);
                    });
                }
                //重新渲染
                //iniBootstrap();
                //遮罩
                layer.closeAll("loading");
            }

            //是不是Helplink新建或修改
            var helplinkOpt = "@ViewData["helplinkopt"]";
            //OSS存储对象
            var storagetype = "@ViewData["storagetype"]";
            //定义是否为只读
            var dataReadonly = false;
            //定义兼容列表函数
            function DGSetSaveData() { }
            //初始化字段组
            var fieldArray = new Array();
            //去除数据库复制字段组
            var nodbfieldArray = new Array();
            //读取数据
            function readData() {
                $.ajax({
                    type: "POST",
                    url: "/DataInput/SearchData",
                    dataType: "json",
                    data: { param: $("#param").val() },
                    async: true,
                    success: function (val) {
                        if (!val.success) {
                            alert(val.msg);
                            return;
                        }
                        //定义只读
                        dataReadonly = val.data.dataReadonly;
                        //定义每行几列
                        if (val.data.rownum > 0) {
                            conditionNum = val.data.rownum;
                        } else {
                            //屏幕分辨率的宽
                            var width = window.screen.width;
                            var tmp = 2;
                            if (width < 1500) {
                                tmp = 2;
                            } else if (width >= 1500 && width < 2000) {
                                tmp = 3
                            } else {
                                tmp = 4
                            }
                            conditionNum = tmp
                        }
                        //是否显示底部栏
                        if (val.data.bottomdiv)
                            document.getElementById("div_bottom").style.display = 'block';
                        //跳转
                        if (val.data.jumpdata.length > 0) {
                            document.getElementById("div_jump").style.display = 'block';
                        }
                        //循环加载标题
                        $(val.data.jumpdata).each(function (index) {
                            $("#jumpCtrl").append("<option value='" + val.data.jumpdata[index].jump + "'>" + val.data.jumpdata[index].title + "</option>");
                        });
                        //按钮
                        $(val.data.btndata).each(function (index) {
                            //$("#btnDiv").append("<input type='button' class='btn btn-primary btn-sm'   name='" + val.data.btndata[index].name + "' value='" + val.data.btndata[index].title + "' onclick='" + val.data.btndata[index].event + "(\"" + val.data.btndata[index].url + "\");' />");
                            $("#btnDiv").append("<button class=\"btn btn-primary stj_ti\" type=\"button\"    name='" + val.data.btndata[index].name + "' value='" + val.data.btndata[index].title + "' onclick='" + val.data.btndata[index].event + "(\"" + val.data.btndata[index].url + "\");' ><i class=\"" + val.data.btndata[index].css + "\" ></i>" + val.data.btndata[index].title + "</button>");
                        });
                        //自定义按钮
                        $(val.data.custombutton).each(function (index) {
                            //$("#btnDiv").append("<input type='button' class='btn btn-primary btn-sm'   name='" + val.data.custombutton[index].name + "' value='" + val.data.custombutton[index].title + "' onclick=\"" + ParamRep(val.data.custombutton[index].event) + "\" />");
                            $("#btnDiv").append("<button class=\"btn btn-primary stj_ti\" type=\"button\"    name='" + val.data.custombutton[index].name + "' value='" + val.data.custombutton[index].title + "' onclick=\"" + ParamRep(val.data.custombutton[index].event) + "\" ><i class=\"" + val.data.custombutton[index].css + "\" ></i>" + val.data.custombutton[index].title + "</button>");
                        });
                        //判断是否要显示主表
                        var t1fieldcontent = "";
                        if (val.data.t1visible) {
                            //添加锚点
                            t1fieldcontent += "<a id=\"" + val.data.t1table + "Anchor\" name=\"" + val.data.t1table + "Anchor\"></a>";
                            t1fieldcontent += CreateField(val.data.t1table, val.data.t1hidden, val.data.t1copyhidden, val.data.t1field, "", "");
                        }
                        //替换数据属性
                        var t1dataField = new RegExp("&&datain&&", "g");
                        t1fieldcontent = t1fieldcontent.replace(t1dataField, "datain");

                        var t1fieldHead = "<div  id='baseInfo' class='tabs-container'><div class='add_del_stj'><div class='ryxx'>基本信息</div></div><div class='left-nav'><ul class='nav nav-tabs stj_nav'><li class='active'><a style='background-color:transparent;border-width:0px;'>基本信息</a></li></ul></div>";

                        $("#contentDiv").append(t1fieldHead + t1fieldcontent + "</div>");
                        var topOfNav = '';
                        //    $("#contentDiv").append(t1fieldcontent);
                        //判断是否要显示从表
                        $(val.data.t2fields).each(function (index) {
                            //判断是否有从表t2
                            if (val.data.t2fields[index].t2visible) {
                                //获取字段列
                                fieldArray[val.data.t2fields[index].t2table] = JSON.stringify(val.data.t2fields[index].t2field);
                                //添加从表隐藏层
                                $("#hiddenDiv").append(CreateDiv(val.data.t2fields[index].t2table, val.data.t2fields[index].t2hidden, val.data.t2fields[index].t2copyhidden, val.data.t2fields[index].t2field, "_", "&&record&&"));
                                //添加从表隐藏层JS
                                $("#hiddenJsDiv").append(CreateJs(val.data.t2fields[index].t2table, val.data.t2fields[index].t2triggerfield, val.data.t2fields[index].t2field, "_"));
                                //显示内容
                                $("#contentDiv").append(GetT2Tab(val.data.t2fields[index].t2table, val.data.t2fields[index].t2sy, val.data.t2fields[index].t3visible, val.data.t2fields[index].t3table, val.data.t2fields[index].t3sy, val.data.t2fields[index].t3syfield));
                            }
                            //判断是否有明细表
                            if (val.data.t2fields[index].t3visible) {
                                //获取字段列
                                fieldArray[val.data.t2fields[index].t2table + "_" + val.data.t2fields[index].t3table] = JSON.stringify(val.data.t2fields[index].t3field);
                                //添加明细表隐藏层
                                $("#hiddenDiv").append(CreateDiv(val.data.t2fields[index].t3table, val.data.t2fields[index].t3hidden, val.data.t2fields[index].t3copyhidden, val.data.t2fields[index].t3field, "_", "&&record&&"));
                                //添加明细表隐藏层JS
                                $("#hiddenJsDiv").append(CreateJs(val.data.t2fields[index].t3table, val.data.t2fields[index].t3triggerfield, val.data.t2fields[index].t3field, "_"));
                            }
                            topOfNav += "<div><span>" + val.data.t2fields[index].t2sy + "</span></div>"

                        });
                        $('#top').append(topOfNav);

                        //**** 触发按钮事件 ****
                        //**** 主表触发 ****
                        $(val.data.t1triggerfield).each(function (index) {
                            //按顺序触发改变值
                            InitCtrlEvent(val.data.t1triggerfield[index].fieldname);
                        });
                        //**** 主表还原默认值 ****
                        $(val.data.t1field).each(function (index) {
                            //初始化特殊控件
                            InitSpecialCtrl(val.data.t1field[index].fieldname);
                            //还原默认值
                            RecoveryDefValue(val.data.t1field[index].fieldname);
                            //触发改变事件
                            InitCtrlEvent(val.data.t1field[index].fieldname);
                        });



                        //判断是否是修改信息
                        if (val.data.datacheck) {
                            //赋值不需要赋数据库字段的内容
                            $(val.data.nodbfield).each(function (index) {
                                nodbfieldArray[index] = val.data.nodbfield[index];
                            });
                            var isnodbfield = false;
                            //赋值主表数据
                            $(val.data.t1datas.t1data).each(function (index) {
                                isnodbfield = false;
                                //去除指定数据库字段修改赋值
                                if (nodbfieldArray.length > 0) {
                                    for (var i = 0; i < nodbfieldArray.length; i++) {
                                        if (nodbfieldArray[i].zdmc == val.data.t1datas.t1data[index].zdmc.toLowerCase()) {
                                            isnodbfield = true;
                                            break;
                                        }
                                    }
                                }
                                if (!isnodbfield) {
                                    SetCtrlValue(val.data.t1datas.t1data[index].zdmc, val.data.t1datas.t1data[index].zdval);
                                    //触发改变事件
                                    InitCtrlEvent(val.data.t1datas.t1data[index].zdmc);
                                }
                            });
                            //赋值从表数据
                            $(val.data.t2datas).each(function (index) {
                                //************** 从表 *************
                                //触发新建按钮
                                $("#" + val.data.t2datas[index].t2table + "AddBtn").click();
                                //获取从表当前记录
                                var t2Rec = parseInt($("#" + val.data.t2datas[index].t2table + "Record").val());
                                //设置此记录主键
                                $("#" + val.data.t2datas[index].t2table + "PRIDATA_" + t2Rec).val(val.data.t2datas[index].t2pri);
                                //赋值从表记录每个字段
                                $(val.data.t2datas[index].t2data).each(function (zdzdIndex) {
                                    SetCtrlValue(val.data.t2datas[index].t2data[zdzdIndex].zdmc + "_" + t2Rec, val.data.t2datas[index].t2data[zdzdIndex].zdval);
                                    //触发改变事件
                                    InitCtrlEvent(val.data.t2datas[index].t2data[zdzdIndex].zdmc + "_" + t2Rec);
                                });
                                //************** 从表 *************

                                //************** 明细表 *************
                                var t3customtitle = "";
                                $(val.data.t2datas[index].t3datas).each(function (t3index) {
                                    t3customtitle = "";
                                    //触发新建按钮
                                    $("#" + val.data.t2datas[index].t3datas[t3index].t3table + "_" + (t2Rec) + "btn").click();
                                    //获取明细表当前记录
                                    var t3Rec = parseInt($("#" + val.data.t2datas[index].t2table + "_" + t2Rec + "Record").val());
                                    //设置此记录主键
                                    $("#" + val.data.t2datas[index].t3datas[t3index].t3table + "PRIDATA_" + t2Rec + "_" + t3Rec).val(val.data.t2datas[index].t3datas[t3index].t3pri);
                                    //赋值从表记录每个字段
                                    $(val.data.t2datas[index].t3datas[t3index].t3data).each(function (zdzdt3Index) {
                                        if (val.data.t2datas[index].t3datas[t3index].t3syfield != "" && val.data.t2datas[index].t3datas[t3index].t3syfield == val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdmc)
                                            t3customtitle = val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdval;
                                        SetCtrlValue(val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdmc + "_" + t2Rec + "_" + t3Rec, val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdval);
                                        //触发改变事件
                                        InitCtrlEvent(val.data.t2datas[index].t3datas[t3index].t3data[zdzdt3Index].zdmc + "_" + t2Rec + "_" + t3Rec);
                                    });

                                    //设置标题
                                    if (val.data.t2datas[index].t3datas[t3index].t3syfield != "") {
                                        $("#" + val.data.t2datas[index].t2table + "_" + t2Rec + "Label" + (t3index + 1)).html(t3customtitle);
                                    }
                                });
                                //************** 明细表 *************

                                //切换首Tab
                                FirstT2Page(val.data.t2datas[index].t2table);
                                if (val.data.t2datas[index].t3datas.length > 0)
                                    FirstT2Page(val.data.t2datas[index].t3datas[0].t3table + "_1");
                            });
                        }
                        //重新渲染
                        iniBootstrap();
                        try {
                            var tmp = $(document.getElementById('Base_Way.Color'));
                            tmp.colorPicker({ color: '#fff' });
                            tmp.css("background-color", tmp.val());
                            tmp.css("color", "white");

                        } catch (e) {
                            console.log(e)
                        }

                        //遮罩
                        layer.closeAll("loading");
                        loadLast();
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                    },
                    beforeSend: function (XMLHttpRequest) {
                        //遮罩
                        layer.load();
                    }
                });
            }


            //初始化数据
            $(function () {

                readData();
            });

            //function btn_opt_bc() {
            //    alert($('#MBGTEST_A\\.LXDH4').val());
            //}
        </script>

        <!-- 用于创建单层的隐藏从表或明细表信息 -->
        <div id="hiddenDiv" style="display:none"></div>
        <!-- 用于创建单层的隐藏从表或明细表的JS信息 -->
        <div id="hiddenJsDiv" style="display:none"></div>
    </div>
    <div id="div_bottom" class="stj_lr_but" style="display:none">
        <div class="st_lr_but_n">
            <div id="div_jump" class="st_lr_but_n_1" style="display:none">
                <label class="but_tz"><strong>跳转</strong></label>
                <select id="jumpCtrl" class="form-control" title="yeey" onchange="JumpHref(this.value);">
                 </select>
            </div>
            <div id="btnDiv" class="" style="float:right; width:auto">
                @*  <input type="button" class="btn btn-primary btn-sm"   name="btn_zc" value="暂存" onclick="btn_opt_zc();" />
                <input type="button" class="btn btn-primary btn-sm" name="btn_bc" value="保存" onclick="btn_opt_bc();" />
                <input type="button" class="btn btn-primary btn-sm" name="btn_bc" value="返回" onclick="btn_hh();" />*@
            </div>
        </div>
    </div>
     <div id="imgcontent" style="width:0;height:0">
        
    </div>
	  <script type="text/javascript">
	      $('#top').on('click', 'div', function () {
	          var that = $(this);
	          if (!that.hasClass('active')) {
	              that.addClass('active').siblings().removeClass('active');
	              var value = that.attr('value');

	              $('.tabs-container').hide().eq(that.index()).show();
	              loadLast();
	          }
	      })
	      function loadLast() {
	          var clientHeight = document.body.clientHeight;

	          var nav = $('.stj_nav');
	          var leftNav = $('.left-nav');
	          var height, formHeight = $('#form1').height();
	          height = clientHeight < formHeight ? formHeight : clientHeight - 150;
	          nav.height(height + 'px');
	          leftNav.height(height + 'px');

	      }

		
    </script>
        <link href="@Skins.GetPubPath("colorPicker/index.css")" rel="stylesheet"/>
        <link href="@Skins.GetPubPath("colorPicker/jqColor.css")" rel="stylesheet"/>
        <script type="text/javascript" src="@Skins.GetPubPath("colorPicker/colors.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("colorPicker/colorPicker.data.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("colorPicker/colorPicker.js")"></script>
        <script type="text/javascript" src="@Skins.GetPubPath("colorPicker/jqColor.js")"></script>
</body>
</html>
