@using BD.Jcbg.Common; @{ Layout = "~/Views/xwwzUser/_f_common.cshtml"; } @section head { } @section body {
    <div class="left function_bar border_s1 marign_b_20" style="width: 762px;margin-right: 0px">
        <div class="category_title left">
            <span style="width: 12px;display: inline-block;">功能栏目</span>
        </div>
        <ul class="left">
            <li>
                <a href="javascript:;" class="gnlm" data-href="/Manage/CompFrame?nav=ryxx&redirect=/Person_U/List/Cur_User" style="color:#0a62a0;">
                    <img src='@SkinManager.GetXwwzPath("Content/themes/default/images/s1.JPG")' />
                    查询中心
                </a>
            </li>
            <li>
                <a href="javascript:;" class="gnlm" data-href="/Manage/CompFrame?nav=xmxx&redirect=/Company_U/XMK" style="color:#0a62a0;">
                    <img src="@SkinManager.GetXwwzPath("Content/themes/default/images/s2.JPG")" />
                    建设过程管理
                </a>
            </li>
            <li>
                <img src="@SkinManager.GetXwwzPath("Content/themes/default/images/s3.JPG ")" /> 工程日常管理
            </li>
            <li>
                <a href="javascript:;" class="gnlm" data-href="/Manage/CompFrame" style="color:#0a62a0;">
                    <img src="@SkinManager.GetXwwzPath("Content/themes/default/images/s4.JPG")" />
                    企业服务管理
                </a>
            </li>
            <li>
                <a href="javascript:;" class="gnlm" data-href="/Manage/CompFrame?nav=ryxx&redirect=/Person_U/List/Cur_User" style="color:#0a62a0;">
                    <img src="@SkinManager.GetXwwzPath("Content/themes/default/images/s6.JPG")" />
                    基础信息管理
                </a>
            </li>
            <li>
                <img src="@SkinManager.GetXwwzPath("Content/themes/default/images/s5.JPG ")" /> 统计报表
            </li>
        </ul>
    </div>

    <div class="login" style="width: 228px;float: right;height: 138px;">
        <a href="http://111.1.25.10:8001/user/login/"><img style="width: 228px;float: right;height: 138px;" src="@SkinManager.GetXwwzPath("Content/themes/default/images/janzhu.jpg")" /></a>  
    <div style="display:none">
        <div class="login-title" style="font-size: 12px;font-weight: 400;margin:8px 0 4px 8px ;color: #666;margin-left: 30px;text-align: left;">台州市建筑业管理系统</div>
        <div class="user" style="text-align: center;padding-left:0;">
            <span class="user-icon" style="left: 30px;"></span>
            <input type="text" name="userName" id="userName" class="userName input-text" placeholder="账号" style="border-radius:0px" />
        </div>
        <div class="pass" style="text-align: center;padding-left:0;margin-bottom: 3px">
            <span class="pass-icon" style="left: 30px;"></span>
            <input type="passWord" name="passWord" id="passWord" class="passWord input-text " placeholder="密码" style="border-radius:0px;" />
        </div>
        <div class="btn-href" style="vertical-align: top;margin-left: 30px;border-radius: 0px;"><a href="/user/login">进入系统</a></div>
        <div class="login-btn" id="login" style="margin-left: 25px;border-radius: 0px;"><a style="color:white;" href="javascript:dlogin()">直接登录</a></div>
    </div>
</div>


    <div class="index_news_box2 right marign_b_20" style="float: left;">
        <div class="tab_title" id="tab_title">
            <span class="active">行业动态</span><span>政务动态</span><span>最新文件</span><span>公示公告</span>
        </div>
        <div class="border_s2" style="overflow:hidden; padding-bottom:9px;">
            <div class="tab_content" style="display: block;padding-left: 10px;">
                <ul id="tplb"></ul>
                <ul id="tplbName"></ul>
            </div>
            <div class="tab_content">
                <ul id="xwdt" class=""></ul>
            </div>
            <div class="tab_content">
                <ul id="bszn"></ul>
            </div>
            <div class="tab_content">
                <ul id="gsgg"></ul>
            </div>
        </div>
    </div>

    <div class="index_news_box1 border_s2 left  marign_b_20" style="height:293px;float: right;">
        <div class="category_title">
            <div class="msg_title left">通知公告</div>
            <div class="more right"><a id="tzggmore">更多>></a></div>
        </div>
        <ul class="tzgg"></ul>
    </div>


    <div class="left">
        <div class="index_icons_list marign_b_20">
            <ul>
                <li><a href="http://111.3.64.186:8090/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/icon1.jpg")" /></a></li>
                <li><a href="http://tzsjs.gov.cn/Qualification.jsp" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon3.jpg")" /></a></li>
                <li><a href="http://tzsjs.gov.cn/xs-Qualification.jsp" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon4.jpg")" /></a></li>
                <li><a href="http://115.29.2.37:8080/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon6.jpg")" /></a></li>
                <li><a href="http://111.3.64.185:8091/Login/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon10.jpg")" /></a></li>
                <li><a><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon5.jpg")" /></a></li>
                <li><a><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon2.jpg")" /></a></li>
                <li><a><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon9.jpg")" /></a></li>
                <li><a><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon7.jpg")" /></a></li>
                <li><a href="javascript:;" class="gnlm" data-href="/Manage/CompFrame?nav=jfqk&redirect=/ScoreMgr/Company/UserScore"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/picicon8.jpg")" /></a></li>
            </ul>
        </div>
    </div>
    <div class="left">
        <div class="index_news_box2 marign_b_20" style="width:521px; overflow:hidden;">
            <div class="tab_title" id="tab_title2"><span class="active">最新工程</span><span>施工许可</span></div>
            <div class="border_s2" style="overflow:hidden;padding-bottom:15px;height:160px;">
                <div class="tab_content2">
                    <ul id="gc1"></ul>
                </div>
                <div class="tab_content2" style="display:none">
                    <ul id="gc2"></ul>
                </div>
            </div>
        </div>
        <div class="index_news_box2 marign_b_20" style="width:521px; overflow:hidden;">
            <div class="tab_title" id="tab_title2"><span class="active">学习园地</span></div>
            <div class="border_s2" style="overflow:hidden;padding-bottom:15px;height:160px;">
                <div class="tab_content2">
                    <ul id="zcfg"></ul>
                </div>
            </div>
        </div>
        <div class="index_news_box2 marign_b_20" style="width:521px; overflow:hidden;">
            <div class="tab_title" id="tab_title2"><span class="active">相关单位业务窗口</span></div>
            <!-- <div class="border_s2" style="overflow:hidden;padding-bottom:15px;height:160px;"> -->
            <div class="border_s2" style="overflow:hidden;padding-bottom:15px;height:190px; ">
                <div class="tab_content3" id="tab_content3">
                    <div style=" margin:7px 0 0 0;">
                        <ul>
                            <li><a href="http://www.tzsjs.gov.cn/defaultpage.jsp" target="_blank">市住房和城乡建设规划局</a></li>
                            <li><a href="http://tzjzy.com.cn" target="_blank">局建筑业处</a></li>
                            <li><a href="">市建工处</a></li>
                            <li><a href="http://www.tzctc.com" target="_blank">市招投标办</a></li>
                            <li><a href="http://www.tzzj.cn" target="_blank">市造价处</a></li>
                            <li><a href="">市质监总站</a></li>
                            <li><a href="">市招投标办</a></li>
                            <li><a href="">市市政质监站</a></li>
                            <li><a href="">市工程档案馆</a></li>
                            <li><a href="">各建设规划部门</a></li>
                        </ul>
                        <ul class="sub_li22">
                            <a href="http://www.hyjs.gov.cn" target="_blank">台州市住房和城乡建设局黄岩分局</a>
                            <a href="http://jianshe.luqiao.gov.cn" target="_blank">台州市住房和城乡建设局路桥分局</a>
                            <a href="http://www.lhjs.gov.cn" target="_blank">临海市住房和城乡建设规划局</a>
                            <a href="http://www.wlgh.gov.cn" target="_blank">温岭市住房和城乡建设规划局</a>
                            <a href="http://www.wljgw.com" target="_blank">温岭市建筑工程管理局</a>
                            <a href="http://www.yhjs.gov.cn" target="_blank">玉环县住房和城乡建设规划局</a>
                            <a href="http://www.ttjsj.cn" target="_blank">天台县住房和城乡建设局</a>
                            <a href="http://www.zjxjjs.gov.cn" target="_blank">仙居县住房和城乡建设规划局</a>
                            <a href="http://www.smjs.com.cn" target="_blank">三门县住方和城乡建设规划局</a>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="right" style="width:230px;">
        <div class="index_news_box1 border_s2 marign_b_20">
            <div class="category_title">
                <div class="msg_title left">业务管理</div>
                <div class="more right"><a id="zlxzmore" href="">更多>></a></div>
                <div class="clear"></div>
            </div>
            <ul id="wdxz"></ul>
        </div>
        <div class="index_news_box1 border_s2 marign_b_20">
            <div class="category_title">
                <div class="msg_title left">考试培训</div>
                <div class="more right"><a id="jsltmore" href="">更多>></a></div>
                <div class="clear"></div>
            </div>
            <ul id="jslt"></ul>
        </div>
        <div class="chaxun">
            <div class="cxmain">
                <ul>
                    <li><a href="javascript:;" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/cxicon2.jpg")">企业信息查询</a></li>
                    <li><a href="javascript:;" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/24-zoom-fill.png")" style=" width:36px; height:27px;">在建施工工地查询</a></li>
                    <li><a href="http://www.zjjs.com.cn:810/manageweb/WebQuicksearch.action?type=slryZs" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/cxicon1.jpg")">三类人员证书查询</a></li>
                    <li><a href="http://www.zjjs.com.cn:810/manageweb/WebQuicksearch.action?type=sjlgcs" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/cxicon6.jpg")">省监理工程师查询</a></li>
                    <li><a href="http://www.zjjs.com.cn/DesktopDefault.aspx?tabid=c358184d-a001-4016-9375-52d576b8846d" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/cxicon5.jpg")">各类岗位查询</a></li>
                    <li><a href="http://www.coc.gov.cn/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/cxicon3.jpg")">注册建造师</a></li>
                    <li><a href="http://jlgcs.cein.gov.cn/jlgcsSearch/index.aspx" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/zc12.png")">&nbsp;&nbsp;国家注册监理工程师</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="case">
        <div class="title">
            <h1>成果展示</h1>
        </div>
        <div class="casemain">
            <div id="demo">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="fr_links">
        <ul>
            <li class="first"><a href="http://www.mohurd.gov.cn/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/link1.jpg")" /></a></li>
            <li><a href="http://www.zjjs.com.cn/" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/link2.jpg")" /></a></li>
            <li><a href="http://www.tzsjs.gov.cn/defaultpage.jsp" target="_blank"><img src="@SkinManager.GetXwwzPath("Content/themes/default/images/link3.jpg")" /></a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <script type="text/javascript">
        $('.m-tip').on('click mouseover', 'li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            $(this).parent().parent().find('.tip-view').eq($(this).index()).show().siblings().hide();
        });



        $(function () {





            //通知公告
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '8',
                    idlist: '22',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = ''
                        var j = 0;
                        for (var i = 0; i < result.data.length; i++) {
                            j = i + 1;
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></li>';
                        }
                        $('.tzgg').append(str);

                        if (result.data.length > 0) {
                            $("#tzggmore").click(function () {
                                linkJs("/xwwzUser/newlb", { cid: result.data[0].categoryid, fid: result.data[0].fatherid, rid: result.data[0].newsmenuid }, "_blank");
                            });
                        }
                    }
                }
            });

            //办事指南
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '7',
                    idlist: '38',
                },
                success: function (result) {

                    if (result.success == true) {

                        var str = '';
                        var j;
                        for (var i = 0; i < result.data.length; i++) {
                            j = i + 1;

                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><div class='left' ><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';


                            // str += '<li><div class="left" ><a onclick="JavaScript:linkJs(' + tj + ')">' + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                        }


                        $('#bszn').append(str);

                    }
                }
            });

            //中心动态
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '7',
                    idlist: '40',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><div class='left' ><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                            // str += '<li><div class="left" ><a onclick="JavaScript:linkJs(' + tj + ')">' + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';
                        }
                        $('#xwdt').append(str);
                    }
                }
            });




            //资料下载
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '44',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><a title='" + result.data[i].articletitle + "' href='JavaScript:linkJs(" + tj + ")' >" + result.data[i].articletitle + "</a></li>"

                        }

                        if (result.data.length > 0) {
                            $("#zlxzmore").click(function () {
                                linkJs("/xwwzUser/newlb", { cid: result.data[0].categoryid, fid: result.data[0].fatherid, rid: result.data[0].newsmenuid }, "_blank");
                            });
                        }


                        $('#wdxz').append(str);
                    }
                }
            });

            //技术论坛
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '45',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><a href='JavaScript:linkJs(" + tj + ")' >" + (i + 1) + ". " + result.data[i].articletitle + "</a></li>";

                        }
                        if (result.data.length > 0) {
                            $("#jsltmore").click(function () {
                                linkJs("/xwwzUser/newlb", { cid: result.data[0].categoryid, fid: result.data[0].fatherid, rid: result.data[0].newsmenuid }, "_blank");
                            });
                        }

                        $('#jslt').append(str);
                    }
                }
            });


            //建筑要闻
            $.ajax({
                url: "/xwwzUser/gclist",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '1',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = '';
                        var j;
                        for (var i = 0; i < result.data.length; i++) {
                            j = i + 1;
                            //var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);


                            str += "<li><div class='left'  style='width: 350px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'><a href='JavaScript:'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                        }

                        $('#gc1').append(str);
                    }
                }
            });



            //政策法规
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '42',
                },
                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            str += "<li><div class='left' ><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';
                        }


                        $('#zcfg').append(str);

                    }
                }
            });


            //服务承诺
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '3',
                    idlist: '105',
                },

                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);


                            str += "<li><div class='left' ><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';




                        }
                        $('#fwcn').append(str);
                    }
                }
            });


            //test1111
            $.ajax({
                url: "/xwwzUser/dxmcx",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '7',
                    idlist: '32',
                },

                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            // str += '<li><div class="left" ><a onclick="JavaScript:linkJs(' + tj + ')">' + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                            str += "<li><div class='left' ><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                        }
                        $('#gsgg').append(str);
                    }
                }
            });

            // test2222
            $.ajax({
                url: "/xwwzUser/gclist",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '2',
                },

                success: function (result) {

                    if (result.success == true) {
                        var str = '';

                        for (var i = 0; i < result.data.length; i++) {
                            //var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            // str += '<li><div class="left" ><a onclick="JavaScript:linkJs(' + tj + ')">' + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';

                            str += "<li><div class='left' style='width: 350px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;' ><a href='JavaScript:'>" + result.data[i].articletitle + '</a></div><div class="right date">' + result.data[i].rq + '</div></li>';


                        }
                        $('#gc2').append(str);
                    }
                }
            });
        })


        //图片轮播
        $.ajax({
            url: "/xwwzUser/tplist",
            async: true,
            dataType: "json",
            type: "POST",
            data: {
                num: '7',
                idlist: '39',
                isimage: 'True'
            },
            success: function (result) {

                if (result.success == true) {
                    var str = '';
                    var title = '';

                    var str2 = '';
                    for (var i = 0; i < result.data.length; i++) {
                        var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                        str += "<li data-title='' class='hiSlider-item'><a href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='' class='lazy'  data-original='/xwwzUser/getAttachFile?aid=" + result.data[i].id + "' alt='" + result.data[i].name + "' /></a></li>";

                        str2 += "<li><a href='JavaScript:linkJs(" + tj + ")'>" + result.data[i].articletitle + '</a></li>';

                        title += "<li><a href='JavaScript:linkJs(" + tj + ")' >" +
                            (i + 1) + '. ' + result.data[i].articletitle + '</a></li>';


                    }

                    $('#tplb').append(str);
                    $("#tplbName").append(str2);


                    $('#tplb').hiSlider();
                    $("img.lazy").lazyload({
                        threshold: 1200,
                        skip_invisible: false
                    });

                }



            }
        });


        //曝光台
        $.ajax({
            url: "/xwwzUser/tplist",
            async: true,
            dataType: "json",
            type: "POST",
            data: {
                num: '10',
                idlist: '41',
                isimage: 'True'
            },
            success: function (result) {

                var str = "<marquee behavior='alternate' onmouseover='this.stop()' onmouseout='this.start()'>";

                if (result.success == true) {

                    for (var i = 0; i < result.data.length; i++) {

                        var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                        str += "<li ><a class='item' target='_blank' onclick='JavaScript:linkJs(" + tj + ")'><div><img class='lazy' src=''   data-original='/xwwzUser/getAttachFile?aid=" + result.data[i].id + "' alt='" + result.data[i].name + "' /></div><span style='width: 178px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>" + result.data[i].articletitle + "</span></a></li>";

                    }

                    $("#demo").append("<ul class='img-list'>" + str + "</marquee></ul>");
                    $("img.lazy").lazyload({
                        threshold: 1200,
                        skip_invisible: false
                    });
                }
            }
        });





        //$('#login').click(function () {
        function dlogin() {
            var user = $("#userName").val();
            var pass = $("#passWord").val();
            if (!user) {
                alert('请输入用户名', {
                    icon: 2,
                    time: 2000
                });
                return;
            } else if (!pass) {
                alert('请输入密码', {
                    icon: 2,
                    time: 2000
                });
                return;
            }

            $.ajax({
                type: "POST",
                url: "/user/dologin",
                dataType: "json",
                data: "login_name=" + escape(user) + "&login_pwd=" + escape(pass) + '&_=' + Math.random(),
                success: function (data) {
                    try {
                        if (data.code == 0) {
                            SetPwdAndChk();
                            window.location = "/user/main";
                        }
                        else {
                            var msg = data.msg
                            if (msg == "")
                                msg = "用户名或密码错误，请重新登录";
                            //$("#login_name").val('');
                            $("#passWord").val('');
                            alert(msg)


                        }
                    }
                    catch (e) {
                        alert(e.message)
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {

                },
                beforeSend: function (XMLHttpRequest) {

                }
            });

        }


        function SetPwdAndChk() {
            //取用户名
            var usr = document.getElementById('userName').value;
            //将最后一个用户信息写入到Cookie
            SetLastUser(usr);
            //如果记住密码选项被选中
            ResetCookie();
            /*
            if (document.getElementById('chkRememberPwd').checked == true) {
                //取密码值
                var pwd = document.getElementById('login_pwd').value;
                var expdate = new Date();
                expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
                //将用户名和密码写入到Cookie
                SetCookie(usr, pwd, expdate);
            } else {
                //如果没有选中记住密码,则立即过期
                ResetCookie();

            }*/
        }

        function SetLastUser(usr) {
            var id = "yuhuanC005-7D5B-4231-8CEA-16939BEACD67";
            var expdate = new Date();
            //当前时间加上两周的时间
            expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
            SetCookie(id, usr, expdate);
        }

        function SetCookie(name, value, expires) {
            var argv = SetCookie.arguments;
            //本例中length = 3
            var argc = SetCookie.arguments.length;
            var expires = (argc > 2) ? argv[2] : null;
            var path = (argc > 3) ? argv[3] : null;
            var domain = (argc > 4) ? argv[4] : null;
            var secure = (argc > 5) ? argv[5] : false;
            document.cookie = name + "=" + escape(value) + ((expires == null) ? "" : ("; expires=" + expires.toGMTString())) + ((path == null) ? "" : ("; path=" + path)) + ((domain == null) ? "" : ("; domain=" + domain)) + ((secure == true) ? "; secure" : "");
        }

        function ResetCookie() {
            var usr = document.getElementById('userName').value;
            var expdate = new Date();
            SetCookie(usr, null, expdate);
        }

    </script>
