@using BD.Jcbg.Common;

@{
    Layout = "~/Views/xwwzUser/_f_common.cshtml";
}
@section head
{
    <script src="@SkinManager.GetXwwzPath("zdy/common.js")" type="text/javascript"></script>
    <script src="@SkinManager.GetXwwzPath("zdy/myurls.js")" type="text/javascript"></script>
}
@section body
{
 
    <div style="width:100%; height:20px;"></div>

    <!--all-->
<div class="all" style="position: relative;">
    <div class="pic_new">
        <div class="pic_new_left">
            <div id="wrap">
                <ul class="hiSlider hiSlider1" id="zstp">
                  
                </ul>
            </div>
            <!--  <img class="img" src="img/pic.png" />-->
        </div>
    </div>



</div>
    <!--end all-->

    <div class="all">

        <!--all-->



        <div class="pic_new">
            <div class="pic_new_left">
                <div id="wrap">
                    <ul class="hiSlider hiSlider1" id="zstp1">
                        <!--
                        <li data-title="11111" class="hiSlider-item"><img src="@SkinManager.GetXwwzPath("img/1.jpg")" alt="11111"> </li>
                        <li data-title="22222" class="hiSlider-item"><img src="@SkinManager.GetXwwzPath("img/2.jpg")" alt="22222"> </li>
                        <li data-title="33333" class="hiSlider-item"><img src="@SkinManager.GetXwwzPath("img/3.jpg")" alt="33333" /></li>
                        <li data-title="44444" class="hiSlider-item"><img src="@SkinManager.GetXwwzPath("img/4.jpg")" alt="44444" /></li>
                        <li data-title="55555" class="hiSlider-item"><img src="@SkinManager.GetXwwzPath("img/5.jpg")" alt="55555" /></li>
                        -->
                    </ul>
                </div>

                <!--  <img class="img" src="img/pic.png" />-->
            </div>
            <div class="pic_new_right">
                <div class="pic_new_right_top">
                    <div class="pic_new_right_top_title"><font> 新闻动态</font></div>
                </div>
                <div class="pic_new_right_neirong" id="xwdt">
                    <!--  1
                    <div class="pic_new_right_neirong_juti">
                        <div class="pic_new_right_neirong_juti_left">
                            <div class="pic_new_right_neirong_juti_left_top"> 星期一 </div>
                            <div class="pic_new_right_neirong_juti_left_last"> 04月20日 </div>
                        </div>
                        <div class="pic_new_right_neirong_juti_right"> 市档案局万邦联局长来舟山调研档案工作 </div>
                    </div>-->
                    <!-- 2
                    <div class="pic_new_right_neirong_juti">
                        <div class="pic_new_right_neirong_juti_left">
                            <div class="pic_new_right_neirong_juti_left_top"> 星期一 </div>
                            <div class="pic_new_right_neirong_juti_left_last"> 04月20日 </div>
                        </div>
                        <div class="pic_new_right_neirong_juti_right"> 市档案局万邦联局长来舟山调研档案工作 </div>
                    </div> -->
                    <!--  3
                    <div class="pic_new_right_neirong_juti">
                        <div class="pic_new_right_neirong_juti_left">
                            <div class="pic_new_right_neirong_juti_left_top"> 星期一 </div>
                            <div class="pic_new_right_neirong_juti_left_last"> 04月20日 </div>
                        </div>
                        <div class="pic_new_right_neirong_juti_right"> 市档案局万邦联局长来舟山调研档案工作 </div>
                    </div>-->
                </div>
            </div>
        </div>

        <!-- 第二板块-->

        <div class="middle">
            <div class="middle_left" id="middle_left">
                <div class="middle_left_1">
                    <div id="TabbedPanels1" class="TabbedPanels">
                        <ul class="TabbedPanelsTabGroup">
                            <li class="TabbedPanelsTab" tabindex="0">中心简介</li>
                            <li class="TabbedPanelsTab" tabindex="0">公正性声明</li>
                            <div class="tab_more"><a id="tzggmore" style="display:none" href="JavaScript:void(0)">更多>></a> </div>
                        </ul>
                        <div style="height:217px;" class="TabbedPanelsContentGroup">
                            <div class="TabbedPanelsContent">
                                <div class="middle_left_neirong_left_3_tab_2">
                                    舟山市建筑工程质量安全监督站检验测试中心成立于一九九三年六月，隶属舟山市建筑工程质量安全监督站，现有工作人员53人，其中高级工程师13人，工程师15人，助工、技术员17人，拥有固定资产700余万元，实验、办公用房3700余平方米，仪器设备350余台，是一家有较强检测能力和科研能力的综合型建设工程质量检验机构。中心下设：材料与结构室、节能与环境室、质量技术室、桩基检测室和综合室，承担建筑材料、建设工程两大方面的质量检测任务，包括水泥、混凝土、砂浆、砖、钢材、砂石、防水材料、脚手架用钢管和扣件、钢结构连接性能、建筑外窗、建材放射性、建筑节能、结构实物、市政检测、桩基及室内环境质量等检测项目。
                                    <a href='javascript:linkJs("/xwwzUser/newsc",{id:"6",fid:"111",rid:"16"},"_blank")'>更多...</a>

                                </div>
                                <!--
                                  <div class=" middle_left_neirong_left_3_tab_1">
                                  <div class="middle_left_neirong_left_3_tab_1_left">
                                    <img src="img/zcfg.png" class="img" /> </div>
                                  <div class="middle_left_neirong_left_3_tab_1_right">
                                <div class="middle_left_neirong_left_3_tab_1_right_biaoti"> 市建工质安监站检测中心顺利完成课题研究</div>
                                   <div class="middle_left_neirong_left_3_tab_1_right_font">日前，由市建工质安监站检测中心开展的《贯入法检测砌筑砂浆抗压强度专用测强曲线制定课题顺利完成。
                                  《贯入法检测砌筑砂浆抗压强度技术规程》...[详细]  </div>
                                  <div class="middle_left_neirong_left_3_tab_1_right_date"><img class="clock_img" src="img/clock.png"/>[2016-08-09]</div>
                                  </div>

                                  </div>
                                  -->

                                <div class="middle_left_neirong_left_3_tab_2" id="tzgg">


                                    <!--内容1
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">关于做好2016年度建设工程系列专业技术人员继续教育工作的通知</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">关于做好2016年度建设工程系列专业技术人员继续教育工作的通知</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div> -->
                                    <!--内容2
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">关于做好2016年度建设工程系列专业技术人员继续教育工作的通知</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>-->
                                    <!--内容2
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>-->
                                    <!--内容3
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">丽水检测机构到我中心考察交流</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>-->
                                    <!--内容4
                                    <div class="middle_left_juti_f">
                                        <div class="dian">· </div>
                                        <div class="middle_left_juti_word_qian">市建工质安监站检测中心顺利完成课题研究</div>
                                        <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="TabbedPanelsContent" id="zdwxy">
                                <div class="middle_left_neirong_left_3_tab_2">
                                    为贯彻本中心检测工作的公正性，科学性和准确性，保证本中心检测工作的运作符合《检验检测机构资质认定评审准则》及相关法律、法规要求，特作如下声明：
                                    <br /><p>1、本中心严格执行国家、行业有关检测的法律法规、检测标准和技术规范，保证检测活动的质量，认真履行与质量管理体系有关的相关义务，保证检测结果具有良好的代表性、准确性、客观性、公正性和可比性，不出具虚假或者不实数据和结果的检测报告。<a href='javascript:linkJs("/xwwzUser/newsc",{id:"22",fid:"111",rid:"16"},"_blank")'>更多...</a></p>


                                </div>
                                <!--内容2
                                 <div class="middle_left_juti_f">
                                     <div class="dian">· </div>
                                     <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                     <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                 </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">关于做好2016年度建设工程系列专业技术人员继续教育工作的通知</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">市建工质安监站检测中心顺利完成课题研究</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">关于做好2016年度建设工程系列专业技术人员继续教育工作的通知</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">市建工质安监站检测中心顺利完成课题研究</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                                <!--内容2
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[2016-08-07] </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>


                <div style="display:none;">

                    <!--通知公告-->
                    <div class="middle_left_neirong_left">
                        <!-- <div class="middle_left_neirong_left_2"> <img class="img" src="img/pic_03.png" /> </div>-->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 政策法规 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--大板块的右边板块-->
                    <div class="middle_left_neirong_right">
                        <!--  <div class="middle_left_neirong_left_2"><img class="img" src="img/pic_05.png" /> </div>   -->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 学习园地 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--通知公告-->
                    <div class="middle_left_neirong_left">
                        <!-- <div class="middle_left_neirong_left_2"> <img class="img" src="img/pic_03.png" /> </div>-->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 监督动态 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--大板块的右边板块-->
                    <div class="middle_left_neirong_right">
                        <!--  <div class="middle_left_neirong_left_2"><img class="img" src="img/pic_05.png" /> </div>   -->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 通知文件 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--通知公告-->
                    <div class="middle_left_neirong_left">
                        <!-- <div class="middle_left_neirong_left_2"> <img class="img" src="img/pic_03.png" /> </div>-->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 监督通报 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--大板块的右边板块-->
                    <div class="middle_left_neirong_right">
                        <!--  <div class="middle_left_neirong_left_2"><img class="img" src="img/pic_05.png" /> </div>   -->
                        <div class="middle_left_neirong_left_1">
                            <div class="middle_left_neirong_top">
                                <div class="middle_left_neirong_top_shu"> </div>
                                <div class="middle_left_neirong_top_word"> 相关下载 </div>
                                <div class="middle_left_neirong_top_more"> more >> </div>
                            </div>
                            <div class="middle_left_juti">
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                                <div class="middle_left_juti_f">
                                    <div class="dian">· </div>
                                    <div class="middle_left_juti_word_qian">消防支队全面开展冬春安全检查</div>
                                    <div class="middle_left_juti_word_hou">[08-07] </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="middle_right">
                <div class="middle_right_1">
                    <div class="middle_right_1_top">
                        <div class="middle_right_1_top_word_left"> 公共服务 </div>
                    </div>
                    <div class="middle_right_1_last">
                        <div class="middle_right_1_last_1" style="display:none">
                            <a href="#" target="_black">
                                <div style="background-color:#68cba5" class="middle_right_1_last_1_color1">
                                    <div class="middle_right_1_last_1_color1_img"> <img class="img" src="@SkinManager.GetXwwzPath("img/bszn.png")" /> </div>
                                    内部登陆
                                </div>
                            </a>
                        </div>
                        <div class="middle_right_1_last_1">
                            <a href="http://61.175.101.118:8002/" target="_black">
                                <div style="background-color:#95c05e" class="middle_right_1_last_1_color1">
                                    <div class="middle_right_1_last_1_color1_img"> <img class="img" src="@SkinManager.GetXwwzPath("img/lyb.png")" /> </div>
                                    网上委托
                                </div>
                            </a>
                        </div>
                        <div class="middle_right_1_last_1" style="display:none">
                            <div style="background-color:#5587bf" class="middle_right_1_last_1_color1">
                                <div class="middle_right_1_last_1_color1_img"> <img class="img" src="@SkinManager.GetXwwzPath("img/lxwm.png")" /> </div>
                                危险源网上填报
                            </div>
                        </div>
                        <div class="middle_right_1_last_1" style="display:none;">
                            <div style="background-color:#83c45b" class="middle_right_1_last_1_color1">
                                <div class="middle_right_1_last_1_color1_img"> <img class="img" src="@SkinManager.GetXwwzPath("img/lxwm.png")" /> </div>
                                留言板
                            </div>
                        </div>
                    </div>
                </div>

                <!--在线咨询-->
                <div class="middle_right_1" style="height:180px;display:none">
                    <div class="middle_right_1_top">
                        <div class="middle_right_1_top_word_left"> 质量工作统计 </div>
                        <div class="middle_right_1_top_word_right"> 更多>> </div>
                    </div>
                    <div class="middle_right_1_last">
                        <div class="middle_right_1_last_2_w" id="zlgztj">
                            <!--
                            <p>本月报监工程数：12，今年累计：122</p>
                            <p>本月报监工程面积：235576.81平方米</p>
                            <p>今年报监工程面积：1513447.04平方米</p>
                            <p>本月竣工工程数：2</p>
                            <p>本月竣工工程面积：84909.8平方米 </p>
                                -->
                        </div>

                        <!--
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                         -->
                    </div>
                </div>


                <div class="middle_right_1">
                    <div class="middle_right_1_top">
                        <div class="middle_right_1_top_word_left"> 软件下载 </div>
                        <div class="middle_right_1_top_word_right">  </div>
                    </div>
                    <div class="middle_right_1_last">
                        <div class="middle_right_1_last_1">
                            <a href="JavaScript:linkJs('/xwwzUser/getAttachFile',{id:'30',name:'24'})">
                                <div style="background-color:#68cba5" class="middle_right_1_last_1_color1">

                                    网上委托填报工具
                                </div>
                            </a>
                        </div>

                        <div class="middle_right_1_last_1">
                            <a href="javascript:linkJs('/xwwzUser/getAttachFile',{id:'4',name:'23'})">
                                <div style="background-color: #5587bf" class="middle_right_1_last_1_color1">

                                    设置可信任站点和IE安全级别工具
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="middle_right_1" style="height:125px;">
                    <div class="middle_right_1_top">
                        <div class="middle_right_1_top_word_left"> 搜索 </div>
                        <!--
                          <div class="middle_right_1_top_word_right"> 更多>> </div>-->
                    </div>
                    <div class="middle_right_1_last">
                        <div class="sousuo_div">
                            <label> 站内搜索 </label>
                            <input type="text" style="width:150px;" id="zncontent" />
                            <input type="button" value="搜索" style="height:26px;" id="znsearch" />
                        </div>
                        <div class="sousuo_div">
                            <label> 百度搜索 </label>
                            <input type="text" style="width:150px;" id="bdcontent" />
                            <input type="button" value="搜索" style="height:26px;" id="bdsearch" />
                        </div>
                        <!--
                           <div class="middle_right_1_last_2_w">
                           <p>本月报监工程数：12，今年累计：122</p>
                           <p>本月报监工程面积：235576.81平方米</p>
                           <p>今年报监工程面积：1513447.04平方米</p>
                           <p>本月竣工工程数：2</p>
                           <p>本月竣工工程面积：84909.8平方米 </p>
                           </div>
                        -->
                        <!--
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                          <div class="middle_right_1_last_2">
                            <div class="middle_right_1_last_2_w"> 问：舟山检测中心怎么走？ </div>
                            <div class="middle_right_1_last_2_d"> 回复：舟山车站路41号 </div>
                          </div>
                         -->
                    </div>
                </div>
                <div class="middle_right_1" style="height:277px;display:none">
                    <div class="middle_right_1_top">
                        <div class="middle_right_1_top_word_left"> 计分单 </div>
                        <!--
                          <div class="middle_right_1_top_word_right"> 更多>> </div>-->
                    </div>
                    <div class="middle_right_1_last" style="height:227px;" id="jfd"> </div>
                </div>




                <div class="middle_right_1">
                    <div class="contant">

                        <img src="@SkinManager.GetXwwzPath("/")img/phone.png" />
                    </div>



                </div>
                <!-- 在线咨询-->

            </div>
        </div>
        <div class="third" style="display:none">
            <div id="TabbedPanels3" class="TabbedPanels">
                <ul class="TabbedPanelsTabGroup">
                    <li class="TabbedPanelsTab" tabindex="0">优质工程</li>
                    <li class="TabbedPanelsTab" tabindex="0">曝光台</li>
                </ul>
                <div class="TabbedPanelsContentGroup">
                    <div class="TabbedPanelsContent">

                        <!--
                        <center>
                        -->
                        <!-- picrotate_left start  -->
                        <div class="blk_18">
                            <a class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:void(0);" target="_self"></a>
                            <div class="pcont" id="ISL_Cont_1">
                                <div class="ScrCont">
                                    <div id="List1_1">
                                        <!-- piclist begin -->
                                        <!--
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s1.jpg")" alt="模板王" width="96" height="72" />图片一</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s2.jpg")" alt="模板王" width="96" height="72" />图片二</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s3.jpg")" alt="李宇春" width="96" height="72" />图片三</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s4.jpg")" alt="模板王" width="96" height="72" />图片四</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s5.jpg")" alt="美女啊" width="96" height="72" />图片五</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s6.jpg")" alt="模板王" width="96" height="72" />图片六</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s7.jpg")" alt="春哥" width="96" height="72" />图片七</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s8.jpg")" alt="火影" width="96" height="72" />图片八</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s9.jpg")" alt="模板王" width="96" height="72" />图片九</a>
                                          -->
                                        <!-- piclist end -->
                                    </div>
                                    <div id="List2_1"></div>
                                </div>
                            </div>
                            <a class="RightBotton" onmousedown="ISL_GoDown_1()" onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:void(0);" target="_self"></a>
                        </div>
                        <div class="c"></div>
                        <script type="text/javascript">

                            // picrun_ini();

                        </script>
                        <!-- picrotate_left end -->
                        <!--
                        </center>
                            -->

                    </div>
                    <div class="TabbedPanelsContent">





                        <div class="blk_18">
                            <a class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:void(0);" target="_self"></a>
                            <div class="pcont" id="ISL_Cont_2">
                                <div class="ScrCont">
                                    <div id="List1_3">
                                        <!-- piclist begin -->
                                        <!--
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s1.jpg")" alt="模板王" width="96" height="72" />图片一</a>
                                        <a class="pl" href="#"> <img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s2.jpg")" alt="模板王" width="96" height="72" />图片二</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s3.jpg")" alt="李宇春" width="96" height="72" />图片三</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s4.jpg")" alt="模板王" width="96" height="72" />图片四</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s5.jpg")" alt="美女啊" width="96" height="72" />图片五</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s6.jpg")" alt="模板王" width="96" height="72" />图片六</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s7.jpg")" alt="春哥" width="96" height="72" />图片七</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s8.jpg")" alt="火影" width="96" height="72" />图片八</a>
                                        <a class="pl" href="#"><img src="@SkinManager.GetXwwzPath("img/lunbotu/wall_s9.jpg")" alt="模板王" width="96" height="72" />图片九</a>
                                        -->
                                        <!-- piclist end -->
                                    </div>
                                    <div id="List2_4"></div>
                                </div>
                            </div>
                            <a class="RightBotton" onmousedown="ISL_GoDown_1()" onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:void(0);" target="_self"></a>
                        </div>
                        <div class="c"></div>
                        <script type="text/javascript">

                            //picrun_ini2()

                        </script>





                    </div>
                </div>
            </div>




        </div>



        <!--all-->

    </div>

 qq
    <script type="text/javascript">

         $('.hiSlider1').hiSlider();
        var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
        /*
        var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
        */
        var TabbedPanels3 = new Spry.Widget.TabbedPanels("TabbedPanels3");

        

        $(function () {


            //图片轮播
            $.ajax({
                url: "/xwwzUser/tplist",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '5',
                    idlist: '',
                    isimage: 'True'
                },
                success: function (result) {

                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);

                            $('#zstp').append("<li data-title='" + GetFileNameNoExt(result.data[i].name) + "' class='hiSlider-item'><a href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='/xwwzUser/getAttachFile?aid=" + result.data[i].id + "' alt='" + result.data[i].name + "' /></a></li>");

                        }
                        $('.hiSlider1').hiSlider();
                    }

                }
            });


            //中间列表部分
            $.ajax({
                url: "/xwwzUser/middleleft",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num1: '6',
                    num2: '5',
                    idlist: '77,82,87,109,110,100',
                },
                success: function (result) {
                    var str;
                    var tj;

                    if (result.success == true) {

                        for (var i = 0; i < result["length"]; i++) {
                            if (i % 2 == 0) {
                                $('#middle_left').append("<div id='middleleftid1" + i + "' class='middle_left_neirong_left'></div>");
                            } else {
                                $('#middle_left').append("<div id='middleleftid1" + i + "' class='middle_left_neirong_right'></div>");
                            }
                            $('#middleleftid1' + i).append("<div id='middleleftid2" + i + "' class='middle_left_neirong_left_1'></div>");

                            tj = GetNewscUrlMore(result["cid" + i], result["fid" + i], result["rid" + i]);

                            str = " <div class='middle_left_neirong_top'>  "
                                + "  <div class='middle_left_neirong_top_shu'> </div>  "
                                + " <div class='middle_left_neirong_top_word'> " + result["name" + i] + " </div>  "
                                + "  <div class='middle_left_neirong_top_more'> <a href='JavaScript:linkJs(" + tj + ")' onclick='' >more >></a> </div>  "
                                + "  </div> ";
                            $('#middleleftid2' + i).append(str);
                            $('#middleleftid2' + i).append("<div id='middleleftid3" + i + "' class='middle_left_juti'></div>");

                            for (var j = 0; j < result["data" + i].length; j++) {
                                tj = GetNewscUrl(result["data" + i][j], result["fid" + i], result["rid" + i]);
                                str = " <div class='middle_left_juti_f'>                                                              "
                                    + "  <div class='dian'>· </div>  "
                                    + " <div class='middle_left_juti_word_qian' style='overflow: hidden; white-space: nowrap; text-overflow: ellipsis;width:200px;'> <a href='JavaScript:linkJs(" + tj + ")' onclick='' >" + result["data" + i][j]["articletitle"] + "</a></div>   "
                                    + " <div class='middle_left_juti_word_hou'>[" + result["data" + i][j]["rq"] + "] </div>   "
                                    + "  </div> ";
                                $('#middleleftid3' + i).append(str);
                            }
                        }

                    }
                }
            });






            //新闻动态
            $.ajax({
                url: "/xwwzUser/xwdt",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '3',
                    idlist: '',
                },
                success: function (result) {

                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);
                            $('#xwdt').append("<div class='pic_new_right_neirong_juti'><div class='pic_new_right_neirong_juti_left'><div class='pic_new_right_neirong_juti_left_top'>" + result.data[i].xq + "</div><div class='pic_new_right_neirong_juti_left_last'> " + result.data[i].rq + " </div> </div> <div class='pic_new_right_neirong_juti_right'> <a href='JavaScript:linkJs(" + tj + ")' onclick='' >" + result.data[i].articletitle + "</a> </div> </div>");

                        }
                    }
                }
            });




            $("#bdsearch").click(function () {

                window.open("https://www.baidu.com/s?wd=" + $("#bdcontent").val());
            });

            $('#bdcontent').bind('keypress', function (event) {

                if (event.keyCode == "13") {
                    window.open("https://www.baidu.com/s?wd=" + $("#bdcontent").val());
                }

            });

            $("#znsearch").click(function () {

                linkJs("/xwwzUser/searchnewlb", { zncontent: $("#zncontent").val() }, "_blank");

            });

            $('#zncontent').bind('keypress', function (event) {

                if (event.keyCode == "13") {
                    linkJs("/xwwzUser/searchnewlb", { zncontent: $("#zncontent").val() }, "_blank");
                }

            });

        })


        //其他不需要加载的项目
        function initOther() {




            //通知公告
            $.ajax({
                url: "/xwwzUser/tzgg",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '7',
                    idlist: '110',
                },
                success: function (result) {

                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);
                            $('#tzgg').append("<div class='middle_left_juti_f'><div class='dian'>· </div> <div class='middle_left_juti_word_qian'><a href='JavaScript:linkJs(" + tj + ")'  onclick='' >" + result.data[i].articletitle + "</a></div><div class='middle_left_juti_word_hou'>[" + result.data[i].rq + "] </div></div>");

                        }
                        if (result.data.length > 0) {
                            $("#tzggmore").click(function () {
                                linkJs("/xwwzUser/newlb", { cid: result.data[0].categoryid, fid: result.data[0].fatherid, rid: result.data[0].newsmenuid }, "_blank");
                            });
                        }

                    }
                }
            });




            //重大危险源
            $.ajax({
                url: "/xwwzUser/zdwxy",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '7',
                    idlist: '',
                },
                success: function (result) {

                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);
                            $('#zdwxy').append("<div class='middle_left_juti_f'><div class='dian'>· </div> <div class='middle_left_juti_word_qian'><a href='JavaScript:linkJs(" + tj + ")' onclick='' >" + result.data[i].articletitle + "</a></div><div class='middle_left_juti_word_hou'>[" + result.data[i].rq + "] </div></div>");

                        }
                    }
                }
            });

            //质量工作统计
            $.ajax({
                url: "/xwwzUser/zlgztj",
                async: true,
                dataType: "json",
                type: "POST",
                data: {},
                success: function (result) {

                    if (result.success == true) {

                        $('#zlgztj').append("<p>本月报监工程数：" + result.data1 + "，今年累计：" + result.data2 + "</p> <p>本月报监工程面积：" + result.data3 + "平方米</p> <p>今年报监工程面积：" + result.data4 + "平方米</p> <p>本月竣工工程数：" + result.data5 + "</p> <p>本月竣工工程面积：" + result.data6 + "平方米 </p>");

                    }
                }
            });




            //计分单
            $.ajax({
                url: "/xwwzUser/jfd",
                async: true,
                dataType: "json",
                type: "POST",
                data: {},
                success: function (result) {

                    if (result.success == true) {

                        $('#jfd').append("<p>计分单的内容：" + result.data + "</p>");

                    }
                }
            });





            //优质工程

            $.ajax({
                url: "/xwwzUser/tplist",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '10',
                    idlist: '',
                    isimage: ''
                },
                success: function (result) {
                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);
                            if (result.data[i].id == null || result.data[i].id == "")
                                $('#List1_1').append(" <a class='pl'  href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='@SkinManager.GetXwwzPath("img/picloss.png")' alt='" + cutstr(result.data[i].articletitle) + "' width='96' height='72' />" + cutstr(result.data[i].articletitle) + "</a>");
                            else
                                $('#List1_1').append(" <a class='pl'  href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='/xwwzUser/getAttachFile?aid=" + result.data[i].id + "' alt='" + cutstr(GetFileNameNoExt(result.data[i].name)) + "' width='96' height='72' />" + cutstr(GetFileNameNoExt(result.data[i].name)) + "</a>");

                        }
                        if (result.data.length > 7)
                            picrun_ini();
                    }

                }
            });


            //曝光台
            $.ajax({
                url: "/xwwzUser/tplist",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    num: '10',
                    idlist: '100',
                    isimage: 'True'
                },
                success: function (result) {

                    if (result.success == true) {

                        for (var i = 0; i < result.data.length; i++) {
                            var tj = GetNewscUrl(result.data[i], result.data[i].fatherid, result.data[i].newsmenuid);
                            if (result.data[i].id == null || result.data[i].id == "")
                                $('#List1_3').append(" <a class='pl'  href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='@SkinManager.GetXwwzPath("img/picloss.png")' alt='" + cutstr(result.data[i].articletitle) + "' width='96' height='72' />" + cutstr(result.data[i].articletitle) + "</a>");
                            else
                                $('#List1_3').append(" <a class='pl'  href='JavaScript:linkJs(" + tj + ")' onclick='' ><img src='/xwwzUser/getAttachFile?aid=" + result.data[i].id + "' alt='" + cutstr(GetFileNameNoExt(result.data[i].name)) + "' width='96' height='72' />" + cutstr(GetFileNameNoExt(result.data[i].name)) + "</a>");

                        }
                        if (result.data.length > 7)
                            picrun_ini2();

                    }

                }
            });
        }




    </script>
}

