@using BD.Log.Common;
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>@ViewBag.Title</title>
	<link href="@LogSkins.GetCssPath("log.css")" rel="stylesheet" type="text/css" />
	<link href="@LogSkins.GetCssPath("jqueryloadmask/jquery.loadmask.css")" rel="stylesheet" type="text/css" />
	<link href="@LogSkins.GetCssPath("easyui/themes/default/easyui.css")" rel="stylesheet" type="text/css" />	
	<link href="@LogSkins.GetCssPath("easyui/themes/icon.css")" rel="stylesheet" type="text/css" />
	<script src="@LogSkins.GetJsPath("jquery-1.8.0.min.js")" type="text/javascript"></script>
	<script src="@LogSkins.GetJsPath("jquery.easyui.min.js")" type="text/javascript"></script>
	<script src="@LogSkins.GetJsPath("easyui-lang-zh_CN.js")" type="text/javascript"></script>
	<script src="@LogSkins.GetJsPath("jquery.loadmask.min.js")" type="text/javascript"></script>
	<script src="@LogSkins.GetJsPath("easyui-exend.js")" type="text/javascript"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
