@using BD.Jcbg.Common;
<!DOCTYPE html>

<html>
<head>
    
    <title>网上自助查询</title>
    <meta name="viewport" content="width=device-width，initial-scale=1.0,user-scalable=yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@SkinManager.GetJqueryMobilePath("/css/jquery.mobile-1.4.5.min.css")" type="text/css" rel="stylesheet" />
    <script src="@SkinManager.GetJqueryMobilePath("/js/jquery.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@SkinManager.GetJqueryMobilePath("/js/jquery.mobile-1.4.5.min.js")" type="text/javascript" charset="utf-8"></script>
    
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
